<!DOCTYPE html>
<html lang="en" id="ResourceManagerApp" ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/ng-template" id="message-template">
        <div ng-message="minlength">Message must be over 10 characters</div>
        <span ng-message="required">This is required!</span>
        <div ng-message="maxlength">Message must not exceed 100 characters</div>
        <div ng-message="equalWithHoh">Only one Head of Household is allowed</div>
        <div ng-message="equalWithSpouse">Only one Spouse is allowed</div>
    </script>


    <style>
        body {
            margin-top: 40px;
        }
    </style>

</head>
<body ng-cloak>
    <div id="wrapper">
        <!-- Nav Bar -->
        @Html.Partial("_NavBar")

        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>


    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ChurchResourceManagerApp")
    @Scripts.Render("~/bundles/notifications")
    @RenderSection("scripts", required: false)
</body>
</html>
